.article__content {
    display: flex;
    gap: 20px;
}
.article__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__btn {
    background-color: var(--orange);
    text-decoration: none;
    color: var(--white);
}

.carre {
    width: 60%;
    padding-left: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--orange);
    border-radius: 8px;
}