:root { 
/* color styles */
--gray-black : #363636 ;
--orange : #FF9737;
--white : #FFFFFF ;
--black : #000000 ;

/* Text-size styles */
--roboto-bold: 25px;
--roboto-bold-16: 16px;
--roboto--reg-14: 14px;
--roboto--med-15: 15px;
--roboto--med-30: 30px;

/* Polices de caractère */
--font-roboto: 'Roboto', sans-serif;
  
/* Font variantes */
--letter-spacing: 0.05em;
  
/* Espaces */
--space1x: 8px;
--space15x: 14px;
--space2x: 16px;
--space3x: 24px;
--space4x: 48px;
--space5x: 80px;
}